.App {
  text-align: center;
  height: 100%;
}

html, body, #root
{
  height: 100%;
}

.ant-btn-primary {
  background-color: #09d3ac !important;
  color: white !important;
  border: 1px solid #09d3ac!important;
}

.ant-btn-primary a {
  padding: 5px !important;
}

.ant-btn{
  text-transform: uppercase;
}

.ant-btn:hover {
  color: #09d3ac;
  border: 1px solid #09d3ac!important;
}

.ant-btn span:hover {
  color: #09d3ac;
}

.ant-btn-primary a:hover, .ant-btn-primary .anticon:hover{
  color: white !important;
}

.ant-collapse-content-box {
  padding: 16px 40px!important;
}
.ant-collapse-header {
  font-weight: 500;
}